.display {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;

}

.textContainer {
    display: flex;

    color: white;
    font-size:60px;
    padding: 0px 8px;
    text-align: center;
    letter-spacing: -9.6px;
    
}

.title {
    font-weight: 800;
    line-height: 128px;
    padding: 0px 6.4px;
 
}

.titleColor {
    font-weight: 800;
    line-height: 128px;
    padding: 0px 6.4px;
    background-image: linear-gradient(90deg, rgba(1, 247, 50, 0.939) 20%, rgba(35, 128, 62, 0.61) 100%);
    background-clip:text;
    -webkit-text-fill-color: transparent;  
}

.imgContainer {
    background-image: url(../public/sphere.png) ;
    background-size: cover;
    height: 220px;
    width: 220px;
    margin-top: 60px;
    -webkit-filter: drop-shadow(30px 8 50px rgb(21, 216, 18));
    filter:         drop-shadow(30px 8px 50px rgb(60, 190, 31));
    cursor: pointer;
}

